.font-1 {
    font-family: open-sans, sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    font-style: italic;
}
.font-2 {
    text-decoration: line-through;
}
.font-3 {
    text-align: center;
    text-transform: uppercase;
}
.font-4 {
    word-spacing: 30px;
    text-decoration: overline wavy;
    text-shadow: 2px 2px 4px #9002d7;
}
.font-5 {
    letter-spacing: 5px;
    text-decoration: underline;
}